{# _includes/compare-table.njk #}
{% macro compareTable(items) %}
  <table class="compare-table">
    <thead>
      <tr>
        <th>Spec</th>
        {% for item in items %}
          <th>{{ item.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {# Assume all chips share the same group structure #}
      {% for groupIndex in range(0, items[0].groupedSpecs | length - 1) %}
        {% set group = items[0].groupedSpecs[groupIndex] %}
        <tr class="group-header">
          <td colspan="{{ items | length + 1 }}"><strong>{{ group.name }}</strong></td>
        </tr>

        {% for fieldIndex in range(0, group.fields | length - 1) %}
          {% set field = group.fields[fieldIndex] %}
          <tr>
            <td>{{ field.label }}</td>
            {% for item in items %}
              {% set groupForItem = item.groupedSpecs[groupIndex] %}
              {% set fieldForItem = groupForItem.fields[fieldIndex] %}
              <td>
                {% if fieldForItem and fieldForItem.value is iterable and fieldForItem.value is not string %}
                  {{ fieldForItem.value | join(", ") }}
                {% else %}
                  {{ fieldForItem and fieldForItem.value or "" }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
