---
title: "Chip Comparison"
---

{% from "macros/compare-table.njk" import compareTable %}

<h1>Comparison</h1>

{# Pick some chips #}
{% set items = getChips(["m4-max-16-40", "m4-max-14-32"], collections) %}

{{ compareTable(items) }}