---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/chips/</loc></url>
  <url><loc>{{ site.url }}/devices/</loc></url>
  <url><loc>{{ site.url }}/compare/custom/</loc></url>
  <url><loc>{{ site.url }}/compare/video-editing/</loc></url>
  <url><loc>{{ site.url }}/compare/ml-ai/</loc></url>
  <url><loc>{{ site.url }}/compare/gaming/</loc></url>
  {% for s in collections.seriesCollection %}
  <url><loc>{{ site.url }}/series/{{ s.id | lower }}/</loc></url>
  {% endfor %}
  {% for gen in collections.generationPagesCollection %}
  <url><loc>{{ site.url }}/chips/{{ gen.id | lower }}/</loc></url>
  {% endfor %}
  {% for rank in collections.rankPagesCollection %}
  <url><loc>{{ site.url }}/chips/{{ rank.id | genId | lower }}/{{ rank.id | tierSlug | lower }}/</loc></url>
  {% endfor %}
  {% for chip in collections.chipVariantPagesCollection %}
  <url><loc>{{ site.url }}{{ chip.url }}</loc></url>
  {% endfor %}
  {% for cat in collections.devicesCollection %}
  <url><loc>{{ site.url }}/devices/{{ cat.id | lower }}/</loc></url>
  {% endfor %}
  {% for d in collections.devicePagesCollection %}
  <url><loc>{{ site.url }}{{ d.url }}</loc></url>
  {% endfor %}
  <url><loc>{{ site.url }}/news/</loc></url>
  {% for post in collections.newsPosts %}
  <url><loc>{{ site.url }}{{ post.url }}</loc></url>
  {% endfor %}
</urlset>
